#APOLLO_USER_KEY="The Apollo Studio user API key"
APOLLO_GRAPH_REF="Apollo Studio metrics configuration"
APOLLO_KEY="The Apollo Studio Graph API key"
AUTH_JWT_SECRET="the jwt secret used to sign authentication tokens"